<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/history.css">
    <title>Weather History</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/weather">Weather</a>
    <a href="/apod">Astronomy Picture of the Day</a>
    <a href="/news">News</a>
</div>
<h1>Weather History</h1>
<table>
    <thead>
    <tr>
        <th>City</th>
        <th>Weather</th>
        <th>Temperature</th>
    </tr>
    </thead>
    <tbody>
    <% histories.forEach(function(history) { %>
        <tr>
            <td><%= history.city %></td>
            <td><%= history.weather %></td>
            <td><%= history.temperature %></td>
        </tr>
    <% }); %>
    </tbody>
</table>

</body>
</html>
