<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/weather">Weather</a>
    <a href="/apod">Astronomy Picture of the Day</a>
    <a href="/news">News</a>
</div>
<main>
    <div class="button-group">
        <a href="/weather" class="weather-button">
            <img src="<%= weatherImage %>" alt="Weather">
            <h2>Weather</h2>
        </a>
        <a href="/apod" class="apod-button">
            <img src="<%= apodImage %>" alt="APOD">
            <h2>Astronomy Picture of the Day</h2>
        </a>
        <a href="/news" class="news-button">
            <img src="<%= newsImage %>" alt="News">
            <h2>News</h2>
        </a>
    </div>
</main>

</body>
</html>