<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency News</title>
    <link rel="stylesheet" href="/news.css"> <!-- Update the path to your CSS file -->
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/weather">Weather</a>
    <a href="/apod">Astronomy Picture of the Day</a>
    <a href="/news">News</a>
</div>

<main>
    <% if (newsData.articles && newsData.articles.length > 0) { %>
        <div class="news-container">
            <% newsData.articles.forEach(article => { %>
                <div class="news-article">
                    <h2><%= article.title %></h2>
                    <% if (article.urlToImage) { %>
                        <img src="<%= article.urlToImage %>" alt="Article Image">
                    <% } %>
                    <p><%= article.description %></p>
                    <a href="<%= article.url %>" target="_blank">Read more</a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No news articles to display.</p>
    <% } %>
</main>
</body>
</html>
